<div id="archive-collective-workout ">
    <div id="blog-filters">
        <select name="gyms" id="gyms-filter">
            <option value="0">Select a gym</option>
            {% for k,gym in gyms_id %}
                <option value="{{k}}">{{gym}}</option>
            {% endfor %}  
        </select>
    </div>
    <div id="collective-workout-list" class='row'>
        {% for archive in archives %}
            <a href="{{ archive.permalink }}" class="text-decoration-none col-md-6 col-12 mb-2 single-job text-center">
                <div class="bg-white p-md-2 content-card">
                    <img src="{{ archive.acf_fields.collective_workout_field_pic['url'] }}" alt="{{ archive.title }}" class="m-auto img-fluid job-img d-block" style="max-width: 20%">
                    {% for taxo in archive.taxos %}
                        <span class='bg-primary px-3 py-1 rounded-pill'>{{taxo.name}}</span>
                    {% endfor %}
                    <p class="job-first-name">{{ archive.title }}</p>
                </div>
                <div class="description-card">{{ archive.content }}</div>
            </a>
        {% endfor %}
    </div>
</div>

{{ pagination }}