<div id='athlete-dashboard' class='athlete-dashboard'>
    <section class="bg-secondary">
        <div class="container">
            <div class="row py-3">
                <div class='col-md'>
                    <h1 class="h2 text-white mb-0"> {{ __("Welcome", "workout_manager") }} {{ user_fields["user_first_name"]["value"] }} {{ user_fields["user_last_name"]["value"] }}</h1>
                    <span class="text-white">{{ user_fields["specialisation"]["value"] }}</span>
                </div>
                <div class='col-md-auto mt-2 my-md-auto'>
                    <a class="btn btn-primary zindex alternate-btn py-1" href='{{ logout_url }}'>
                        {% if fn("wp_is_mobile") %}
                            <span class="icon-logout ml-auto"></span>
                        {% else %}
                            {{ __("Disconnection", "workout_manager") }}
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="workout-section">
        {% for workout in workouts %}
        {# {{dump(workout.acf_fields['wm-workout_field_exercices'])}} #}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Excercice</th>
                        <th scope="col">Nombre de répétion</th>
                        <th scope="col">Poids</th>
                        <th scope="col">Temps de repos</th>
                        <th scope="col">Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exercice in workout.acf_fields['wm-workout_field_exercices'] %}
                        <tr>
                            <th scope="row">{{exercice["exercice_name"]}}</th>
                            <td>{{exercice["exercice_nb_reps"]}}</td>
                            <td>{{exercice["exercice_weight"]}}</td>
                            <td>{{exercice["exercice_rest_time"]}}</td>
                            <td>{{exercice["exercice_note"]}}</td>
                        </tr>
                    {%  endfor %}
                </tbody>
            </table>
        {% endfor %}
    </section>
</div>