<div id='workout-manager-login' class='athlete-login'>
    {% if has_been_logout %}
        <div class='alert alert-logout alert-success border-0 m-0 rounded-0 text-white bg-primary font-weight-bold text-center'>
            {{ __("You have been disconnected", "workout_manager") }}
        </div>
    {% endif %}
    <div {% if not fn("wp_is_mobile") %}class="d-flex"{% endif %}>
        <div {% if not fn("wp_is_mobile") %}class="w-50"{% endif %}>
            {# {{ fn("do_shortcode", '[procab_video_player
                src="'~login_video~'"
                hide_overlay="1"
                element_css=".vc_custom_login_image_dillustration{
                    background: url('~login_image_dillustration["sizes"]["large"]~')!important;
                    background-size: cover!important;
                }"]')
            }} #}
        </div>
        <div {% if not fn("wp_is_mobile") %}class="w-50"{% endif %}>
            <div class="bg-secondary">
                <div class="container-margin-right p-4 pl-md-4 pr-md-0">
                    <h1 class="text-white h2">{{ __("Login", "workout_manager") }}</h1>
                    <p class="text-white">{{__('This space is reserved for athletes. To access it, log in.', 'workout_manager')}}</p>
                    <form id="athlete-login" method="post">
                        <p class="status"></p>
                        <div class="row d-flex mb-2">
                            <div class='col-12 col-sm-6'>
                                <input required id="username" class="border-0 rounded mb-2 mb-md-0 px-2 form-control mr-1" type="email" name="username" placeholder="{{ __("Email", "workout_manager") }}">
                            </div>
                            <div class='col-12 col-sm-6'>
                                <input required id="password" class="border-0 rounded px-2 form-control" type="password" name="password" placeholder="{{ __("Password", "workout_manager") }}">
                            </div>

                            <div class="col-12 col-xxl-6 mt-2">
                                <button type="submit" class="btn btn-primary w-100-xxl zindex alternate-btn py-1 px-2 font-weight-normal d-inline-flex">
                <span class="icon-member font-weight-normal my-auto mr-1"></span>
                                    {{ __("Login", "workout_manager") }} <img src='{{ loader_image }}' class='d-none loader my-auto' />
                                </button>
                            </div>
                        </div>

                        <a class="lost text-white small d-block mt-2 ml-2" href="{{ wp_lostpassword_url }}">
                            {{ __("Lost your password ?", "workout_manager") }}
                        </a>

                        {{ nonce_login }}
                    </form>
                </div>
            </div>

            <div class="p-4 container-margin-right">
                <h2 class="mb-0">{{ __("Do not have an account yet ?", "workout_manager") }}</h2>
                <p class="my-2">
                    {{ __("Create your account and access to your dashboard.", "workout_manager") }}
                </p>
                <button type="button" class="btn alternate-btn zindex font-weight-normal py-1" style="padding-left: 78px; padding-right:78px;" data-bs-toggle="modal" data-bs-target="#modal-user-datas">
                    {{ __("Register", "workout_manager") }}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-user-datas" tabindex="-1" aria-labelledby="modal-user-datasLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-account-modal">{{__('Create your account', 'workout_manager')}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="athlete-register" method="post">
            <div class="row">
                {% for input_name, input_datas in user_fields %}
                    <div class="col-12 col-sm-6 mb-2 ">
                        <input type="{{(input_datas.type == 'date_picker') ? "date" : "text" }}" required class="form-control" name='{{ input_name }}' value='' {{ (input_datas.maxlength != '') ? 'maxlength="'~(input_datas.maxlength)~'"' : ''  }} placeholder="{{ input_datas.label }}*" />
                    </div>
                {% endfor %}
                <div class="col-12 col-sm-6 mb-2 ">
                    <input type="password" required class="form-control" name='password_1' value='' placeholder="{{__('Password', 'workout_manager')}}*" />
                </div>
                <div class="col-12 col-sm-6 mb-2 ">
                    <input type="password" required class="form-control" name='password_2' value='' placeholder="{{__('Confirm password','workout_manager')}}*" />
                </div>

            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary btn-full pull-right">{{__('Create my account', 'workout_manager')}} <img src='{{ loader_image }}' class='d-none loader' /></button>
            </div>
            {{ nonce_register }}
        </form>
    </div>
    <div class="modal-footer">
        <small class="mx-auto">{{ __('All fields are required <br> Your account will only be active after validation from your coach. You will receive an email as soon as the activation is effective' , 'workout_manager') }}</small>
        <small class="mx-auto mt-2">
        {{ __('The information collected will only be used in connection with your request for information and will only be shared in accordance with our privacy policy. If you have any questions regarding the use of your personal data, you can consult our <a class="text-decoration" href="/politique-de-confidentialite/">privacy policy</a> or contact us at contact@cenas.ch' , 'workout_manager') }}</small>
    </div>
    </div>
  </div>
</div>

<script>
/*
$(window).on('load', function() {

    var max_width = 0;

    jQuery('#workout-manager-login button').each(function (i, obj) {
        if($(obj).outerWidth() > max_width)  max_width = $(obj).outerWidth();
    });
    jQuery('#workout-manager-login a.btn').each(function (i, obj) {
        if($(obj).outerWidth() > max_width)  max_width = $(obj).outerWidth();
    });

    jQuery('#workout-manager-login button').css("width" , max_width+"px");
    jQuery('#workout-manager-login a.btn').css("width" , max_width+"px");
    
});
*/
</script>