<section class="club-detail-header__section">
    <div class="club-detail-header__left">
        <div class="text-col js-text-col">
            <h1 class="title js-font-component">
                {{title}}
                <span>{{acf_fields.gym_address}}</span>
            </h1>
        </div>
        <div class="details-container">
            <div class="details js-club-header-details">
                <ul>
                    <li class="location">
                        <a href="https://www.google.com/maps/search/?api=1&amp;query={{acf_fields.gym_address}}" class="js-club-location" target="_blank">{{acf_fields.gym_address}}</a></li>
                        <li class="personal-support">Entraîneurs disponibles: <a class="read-more arrow-after" href="#coachs">Voir les options</a>
                    </li>
                    <li class="opening-hours">
                        <div>
                            Du lundi au vendredi: de {{acf_fields.opening_hours[0]}} à {{acf_fields.opening_hours[1]}}
                        </div>
                        <div>
                            Samedi &amp; dimanche : de 9h00 - 19h00
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="club-detail-header__right">
        <div class="club-detail-header__image" role="img" style="background-image: url({{img}})" alt="{{title}}" title="{{title}}">
        </div>
        <div class="club-detail-nav club-header-detail-nav">
            <div class="club-detail-nav-container">
                <span class="club-detail-nav-container__title paragraph">
                    Quick links
                </span>
                <div class="nav-wrap">
                    <ul>
                        <li class="content-tile" data-id="inside-the-club">
                            <a href="javascript:void(0);" class="arrow-after">Salle de sport</a>
                        </li>
                        <li class="content-tile" data-id="services">
                            <a href="javascript:void(0);" class="arrow-after">Services</a>
                        </li>
                        <li class="content-tile" data-id="facilities">
                            <a href="javascript:void(0);" class="arrow-after">Installations</a>
                        </li>
                        <li class="content-tile" data-id="coachs">
                            <a href="javascript:void(0);" class="arrow-after">Coachs</a>
                        </li>
                        <li class="content-tile" data-id="addons">
                            <a href="javascript:void(0);" class="arrow-after">Extra's</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gym-photos">
    <div class="container">
        <h2 class="main-title">
            Découvrez
            <br>
            <span class="title-opposite--gray">votre salle</span>
        </h2>
        <div class="gallery-wrap">
            {% for image in acf_fields.gym_field_gym_photos %}
            <div class="item image-{{loop.index}}" style="background-image: url('{{image}}');"></div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="home-club-facilities" id="facilities">
    <div class="content">
        <h2 class="main-title">
            Installations
            <br>
            <span class="title-opposite--gray">de votre club</span>
        </h2>
        <ul class="home-club-facilities__list four">
            {% for taxo in taxos %}
                <li class="home-club-facilities__item showers">
                    {{taxo.name}}
                </li>
            {% endfor %} 
        </ul>
    </div>
</section>

<section class="trainer-tiles" id="personal-trainers">
    <div class="content">
        <span class="name-link-wrapper">
            <a href="javascript:;" class="name-link trainers" name="trainers"></a>
        </span>
        <h2 class="trainer-tiles__title main-title">
            Entraîneurs personnels
            <br>
            <span class="title-opposite">Trainers</span>
        </h2>
        <div class="trainer-tiles__container">
            <div class="trainer-tiles__wrapper">
                {% for coach in acf_fields.coachs %}
                    <div class="trainer-tile">
                        <a href="{{coach.permalink}}" class="trainer-tile__wrapperlink">
                            <div class="trainer-tile__figure-wrapper">
                                <figure class="trainer-tile__figure">
                                    <picture>
                                        <img class="trainer-tile__figure__image" src="{{coach.picture}}" alt="{{coach.post_title}}" title="{{coach.post_title}}">
                                    </picture>
                                </figure>
                            </div>
                            <div class="trainer-tile__content js-trainer-tile-content" style="height: 225px;">
                                <hgroup>
                                    <h3 class="trainer-tile__name">{{coach.post_title}}</h3>
                                    <h4 class="trainer-tile__title">Personal Trainer</h4>
                                </hgroup>
                                <ul class="trainer-tile__tags">
                                    {% for specialite in coach.taxos %}
                                        <li class="trainer-tile__tag">{{specialite.name}}</li>
                                    {% endfor %}
                                </ul>
                                <div class="arrow-after">
                                    <span class="meet">Meet</span>
                                    <span>JD</span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="gym-planning">
    {{planning}}
</section>

<style>
.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.item:hover{
    flex: 7;
}
</style>