<div class="banner" style="background-image:url('{{ thumbnail_url }}')">
    <div class="banner-content text-white">
        <h1 class="banner-title">{{ title }}</h1>
        <div class="gym-details">
            <div class="details js-club-header-details">
                <div class='gym-infos'>
                    <div class="location">
                        <a href="https://www.google.com/maps/search/?api=1&amp;query={{acf_fields.gym_address}}" class="js-club-location text-primary text-decoration-none" target="_blank">{{acf_fields.gym_address}}Lorem ipsum dolor sit amet</a>
                    </div>
                    <div>
                        <span class="personal-support">Entraîneurs disponibles:</span>
                        <a class="read-more arrow-after text-primary text-decoration-none" href="#coachs">Voir les options</a>
                        <span class="d-block">Du lundi au vendredi: de {{acf_fields.opening_hours[0]}} à {{acf_fields.opening_hours[1]}}</span>
                        <span class="d-block">Samedi &amp; dimanche : {% if acf_fields.differents_weekend_hours and '5' in acf_fields.opening_days or '6' in acf_fields.opening_days %} de {{acf_fields.weekend_hours[0]}} à {{acf_fields.weekend_hours[1]}} {% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    {# 
    #
    # Gym photos 
    #
    #}
    {% if acf_fields.gym_field_gym_photos is not empty %}
    <section class="gym-photos">
        <h2 class="main-title">
            Découvrez
            <br>
            <span class="title-opposite--gray">votre salle</span>
        </h2>
        <div class="gallery-wrap">
            {% for image in acf_fields.gym_field_gym_photos %}
            <div class="item image-{{loop.index}}" style="background-image: url('{{image}}');"></div>
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {# 
    #
    # Gym facilities 
    #
    #}
    {% if taxos is not empty %}
    <section class="home-club-facilities" id="facilities">
        <div class="content">
            <h2 class="main-title">
                Installations
                <br>
                <span class="title-opposite--gray">de votre club</span>
            </h2>
            <ul class="home-club-facilities__list four">
                {% for taxo in taxos %}
                    <li class="home-club-facilities__item">
                        {% if taxo.icon %}
                        <span class='gym-facilitie-icon' role='image' style="background: center / cover no-repeat url('{{taxo.icon}}')" ></span>
                        {% endif %}
                        {{taxo.name}}
                    </li>
                {% endfor %} 
            </ul>
        </div>
    </section>
    {% endif %}

    {# 
    #
    # Gym coachs 
    #
    #}
    {% if acf_fields.coachs is not empty %}
    <section class="trainer-tiles" id="coachs">
        <div class="content">
            <span class="name-link-wrapper">
                <a href="javascript:;" class="name-link trainers" name="trainers"></a>
            </span>
            <h2 class="trainer-tiles__title main-title">
                Entraîneurs personnels
            </h2>
            <div class="trainer-tiles__container">
                <div class="trainer-tiles__wrapper">
                    {% for coach in acf_fields.coachs %}
                        <div class="trainer-tile">
                            <a href="{{coach.permalink}}" class="trainer-tile__wrapperlink">
                                <div class="trainer-tile__figure-wrapper">
                                    <figure class="trainer-tile__figure">
                                        <picture>
                                            <img class="trainer-tile__figure__image" src="{{coach.picture}}" alt="{{coach.post_title}}" title="{{coach.post_title}}">
                                        </picture>
                                    </figure>
                                </div>
                                <div class="trainer-tile__content js-trainer-tile-content" style="height: 225px;">
                                    <hgroup>
                                        <h3 class="trainer-tile__name">{{coach.post_title}}</h3>
                                        <h4 class="trainer-tile__title">Personal Trainer</h4>
                                    </hgroup>
                                    <ul class="trainer-tile__tags">
                                        {% for specialite in coach.taxos %}
                                            <li class="trainer-tile__tag">{{specialite.name}}</li>
                                        {% endfor %}
                                    </ul>
                                    <div class="arrow-after">
                                        <span class="meet">Meet</span>
                                        <span>{{coach.post_title}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {# 
    #
    # Gym planning 
    #
    #}
    {% if planning is not empty %}
    <section class="gym-planning">
        {{planning}}
    </section>
    {% endif %}
</div>